<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="librettoRootFolder" value="C:\Users\thumb\Documents\programming\rpUtilities\librettox"/>
        <add key="textEditor" value="C:\program files\notepad++\notepad++.exe"/>
        <add key="fileExplorer" value="C:\Program Files (x86)\XYplorer\XYplorer.exe"/>
    </appSettings>
</configuration>